[Unit]
Description=Sguil Server
After=network.target mariadb.service

[Service]
Type=forking
ExecStart=/usr/sbin/sguild -D

[Install]
WantedBy=multi-user.target
